<!doctype html>
<html>
  <head>
    <title>Upload Proof</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
    <link rel="stylesheet" href="home.css">
  </head>
  <body>
    <div class="container">
      <div class="adminbuttons">
      <header>
        <h1>Upload Proof #{{ task_id }}</h1>
      </header>
        <form method="POST" enctype="multipart/form-data">
        <input id="box" type="file" name="proof" required><br><br>
        <button type="submit">Upload Proof</button>
      </form>
      <br>
      <button onclick="location.href='/account'">Back to Accounnt</button>
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          <ul>
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}
      </div>
    </div>
  </body>
</html>
